<IfModule mod_sql.c>
    AuthOrder mod_sql.c
    SQLBackend mysql
    <IfModule mod_sql_passwd.c>
      # If mod_sql_passwd is available, try other SQLAuthTypes, too
      SQLPasswordEngine on

      # MySQL uses lowercase hex-encoded strings for MD5() et al
      SQLPasswordEncoding hex

      SQLAuthTypes SHA256 SHA1 MD5 Backend
    </IfModule>
    SQLAuthenticate on
    SQLConnectInfo feiku@bj3.nssai.com:60331 proftpd e31fdf08538c37aa
    SQLNamedConnectInfo logdb mysql feiku@bj3.nssai.com:60331 proftpd e31fdf08538c37aa
    SQLUserInfo ftp_users username passwd uid gid homedir shell
    SQLGroupInfo ftp_groups group_name gid members
    # Update count every time user logs in
    SQLLog PASS updatecount
    SQLNamedQuery updatecount UPDATE "count=count+1, accessed=now() WHERE userid='%u'" p_file_ftpuser
    SQLLog STOR,DELE modified
    SQLNamedQuery modified UPDATE "modified=now() WHERE userid='%u'" p_file_ftpuser
    # Add a row to the login_history table on successful login in the logdb
    SQLNamedQuery log_sess FREEFORM "INSERT INTO p_file_ftp_login_history (userid, client_ip, server_ip, protocol, login_time) VALUES ('%u', '%a', '%V', '%{protocol}', NOW())" logdb

    SQLLog PASS log_sess IGNORE_ERRORS
</IfModule>